.buttonContainer {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.buttonStart {
  background-color: rgb(34, 137, 34);
  padding: 10px;
}

.buttonStop {
  background-color: rgb(159, 4, 4);
  padding: 10px;
}

.buttonClear {
  background-color: rgb(170, 170, 170);
  padding: 10px;
}

.sliderControl {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: rgb(165, 165, 165);
  padding: 10px;
  border-radius: 8px;
  width: 90%;
  outline: auto;
}

.sliders {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 1px 0px 0px #000000, 0px 0px 0px 0px #000000;
  padding: 10px 20px;
  margin: 0px 0px;
}

input {
  width: 100%;
}

.controlPanel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  max-width: 400px;

}
