
.componentContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  justify-content: center;
  margin: 10px 80px;
  background-color: grey;
  outline: auto;
  padding: 20px 20px;
}

.circleCanvasContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}


